html, body
{
  margin: 0;
  padding: 0;
}

body
{
  font-family: Tahoma, Arial, Verdana, sans-serif;
  background-color: white;
  margin-bottom: 100px;
}

.container
{
  width: 60%;
  margin: 0 auto;
  color: #777;
  text-align: center;
}

.header {
  overflow: hidden;
  padding-top: 2em;
  text-align: right;
}

.header img
{
	float: left;
}

.header img.name
{
	margin-top: 8px;
}

.header h2,
.header p {
	clear: both;
	margin: 0;
	padding: 0;
}

.section
{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  behavior: url(border-radius.htc);
  text-align: left;
  background-color: #ddd;
  color: #555;
  padding: 5px 10px;
  margin: 20px 0;
}

.section p
{
  color: #555;
  font-size: 90%;
}

.section ol
{
  color: #333333;
  font-size: 90%;
}

pre
{
  background-color: white;
  color: #333;
  font-family: monospace;
  display: block;
  padding: 10px 0px;
}

.footer
{
  color: #333333;
  font-size: 80%;
}

/* taken from: http://users.tkk.fi/tkarvine/pre-wrap-css3-mozilla-opera-ie.html */
/* Copyright 2004-09-12 Tero Karvinen www.iki.fi/karvinen. GNU Free Documentation License */
/* Browser specific (not valid) styles to make preformatted text wrap */
pre { 
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
